<% include includes/header %>
	<div class="leader-wrap">
		<div class="name-holder">
			<h2> Leader Board </h2>
		</div>
		<div class="table-responsive" style="padding: 10px; background-color:white;">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>Name</th>
						<th>WPM</th>
						<th>Net WPM</th>
						<th>Errors</th>
						<th>Accuracy</th>
					</tr>
				</thead>
				<tbody>
					<%var i= 1; for(const result in results){ %>
						<tr>
							<td><%= i %></td>
							<td><%= results[result].name %></td>
							<td><%= results[result].wpm %></td>
							<td><%= results[result].nwpm %></td>
							<td><%= results[result].errors %></td>
							<td><%= results[result].accuracy %></td>
						</tr>
					<% i++; }; %>
				</tbody>
			</table>
	 	</div>
	 	<div class="clear"></div>
	</div>
<% include includes/footer %>